
.explanation {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: smaller;
    color: #0c5460;
}

.not_implemented {
    color: gray;
}

#left-navigation{
    background-color: #f9f9f9;
}

a.nav-link-selected{
    background-color: white !important;
}

i.fa-size {
    width: 24px;
}