<!DOCTYPE html>
<html>
  <head>
    <title>Amalgam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="static/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="static/bootstrap.min.js" ></script>
  	<link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="static/images/logo2_small.png"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- child template -->
				{% block content %}{% endblock%}

				<!-- errors -->
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

				<!-- messages -->
				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
			</div>
		</div>
    </div>
  </body>
</html>