<!DOCTYPE html>
<html>
  <head>
    <title>Amalgam : {{page}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="static/jquery-3.5.1.js" ></script>
	<script type="text/javascript" src="static/bootstrap.min.js" ></script>
	<link href="static/main.css" rel="stylesheet" media="screen">
	<script type="text/javascript">
		function switch_site(site_id){
			console.info("Switching to " + site_id);
			window.location = '/switch_site?site_id='+site_id+'&page={{page}}';
		}
	</script>
	{% block head %}{% endblock%}
  </head>
  <body>
    <div class="container">

		<!--Top bar-->
		<div class="row">
			<div class="col-md-2">
				<h2>Amalgam</h2>
			</div>
			<div class="col-md-10">
					<div class="row">

						<!--Site section-->
						<div class="col-md-5">
							<div class="d-flex justify-content-start">
								<script>
									//
								</script>
								{% if sites | length %}
									<select>
										{% for site in sites %}
										<option value="{{site.id}}" {% if site.id == user.current_site_id%} selected {% endif %}  onclick="switch_site({{site.id}})">{{site.name}}</option>
										{% endfor %}
									</select>
								{% else %}
									<!--No sites-->
								{% endif %}
								<span class="p-2">
									<a href="#" class="not_implemented">
										<img style="width: 24px; height: 24px;" src="static/images/add-button-svgrepo-com.svg"/>
										Add Site
									</a>
								</span>
							</div>
						</div>

						<!--User section-->
						<div class="col-md-5">
							<div class="d-flex justify-content-end">
								<div class="p-2">{{user.name}} [{{user.email}}]</div>
								<div class="p-2"><a href="#" class="not_implemented">Settings</a></div>
								<div class="p-2"><a href="/logout">Logout</a></div>
							</div>
						</div>
					</div>
			</div>
		</div>


		<div class="row">

			<!--Left navigation-->
			<div class="col-md-2 p-0" id="left-navigation">
				{% block navigation %}{% endblock%}
				{% include "navigation.html"%}
			</div>

			<!--Content of the page-->
			<div class="col-md-10" style="border-left: 1px solid gray; border-top: 1px solid gray;">
				<!-- errors -->
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

				<!-- messages -->
				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}

				{% block content %}{% endblock%}
			</div>
		</div>


		


    </div>
  </body>
</html>