<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="static/jquery-3.5.1.js" ></script>
	<script type="text/javascript" src="static/bootstrap.min.js" ></script>
	<link href="static/main.css" rel="stylesheet" media="screen">
	{% block head %}{% endblock%}
  </head>
  <body>
    <div class="container">

		<div class="row">
			<div class="col-md-2">
				<h2>Amalgam</h2>
			</div>
			<div class="col-md-10">
					<div class="row">
						<div class="col-md-5">
							<div class="d-flex justify-content-start">
								<span class="p-2">
									<a href="#" class="not_implemented">
										<img style="width: 24px; height: 24px;" src="static/images/add-button-svgrepo-com.svg"/>
										Add Site
									</a>
								</span>
							</div>
						</div>
						<div class="col-md-5">
							<div class="d-flex justify-content-end">
								<div class="p-2">User name</div>
								<div class="p-2"><a href="#" class="not_implemented">Settings</a></div>
								<div class="p-2"><a href="/logout">Logout</a></div>
							</div>
						</div>
					</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-2">
				{% block navigation %}{% endblock%}
				{% include "navigation.html"%}
			</div>
			<div class="col-md-10" style="border-left: 1px solid gray; border-top: 1px solid gray;">
				<!-- errors -->
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}

				<!-- messages -->
				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}

				{% block content %}{% endblock%}
			</div>
		</div>


		


    </div>
  </body>
</html>