{% set page = 'internal_linking' %}
{% extends "base_inner.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let crawlId = {{ last_crawl_id }};

        function loadData(){
            $.ajax({
                type: "GET",
                url: "report_inner_links_data",
                contentType: 'application/json; charset=utf-8',
                data: {
                    "id": crawlId
                },
                // async: false,
                success : function(result){
                    console.log(result);
                    update_chart(result);
                },
                error : function(msg){
                    console.log(msg);
                }
            });

            function update_chart(new_data){
                console.log("Data: " + new_data)
                myChart.data.labels = new_data.labels
                myChart.data.datasets[0].data = new_data.datasets[0].data
                myChart.update()
            }
        }

        function update_chart(){
            var labels = ['Redux', 'Bluex', 'Yellowix', 'Greenix', 'Purplex', 'Orangex'];
            myChart.data.labels = labels
            myChart.update()
        }

        window.addEventListener('load', function() {
            loadData();
        });
    </script>

{% endblock %}

{% block content %}

    <h4>Report Inner Links</h4>

    <div class="row">
        <div class="col-7">
            <canvas id="myChart" width="400" height="400">Unsupported browser</canvas>
        </div>
        <div class="col-5 explanation">
            <details>
                <summary>On "Distribution of incoming links" axes we see the sum of percentages of pages that fall inside
                    an interval of incoming links.</summary>
                <i>For example, if page A has 5 incoming links (which means 5% of total links) and page B has 7 incoming
                links (which means 7% of total links) both of them will fall in the 0-10% interval.<br/>
                If A and B will be only pages from that interval then we will have 12% ( = 5% + 7%) for that interval.
                </i>
            </details>
            <p style="margin-top: 10px;"/>
            On "Percent of total links" axes we see the percentage (relative to total inner links) of total links each interval contains.
        </div>
    </div>


    <script type="application/javascript">
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [
                    // 'Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'
                ],
                datasets: [{
                    label: '# of incoming inner links',
                    data: [
                        // 12, 19, 3, 5, 2, 3
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Distribution of incoming links '
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 100
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Percent of total links'
                        }
                    }]
                },
                onClick : handleClick
            }
        });

        /**
         * More documentation about selecting the proper bar
         * https://stackoverflow.com/questions/37122484/chart-js-bar-chart-click-events
         * https://salesforce.stackexchange.com/questions/310263/how-can-i-handle-click-events-from-chart-js-in-lighning-components
         * https://codepen.io/jordanwillis/pen/bqvLNx
        */
        function handleClick(evt){
            var elements = myChart.getElementAtEvent(evt);
            if(elements.length > 0){ //make sure we are on a bar (and not somewhere inside the canvas)
                var selectedBar = elements[0]._index;
                console.log("Selected Bar is " + selectedBar)

                //reset links
                reset_links();

                //get new data
                var url = "./report_inner_links_bar_data?crawl_id=" + crawlId + "&bar_no="  + selectedBar;                 
                $.get(url,
                    function(data, status){
                        // alert("Data: " + data + "\nStatus: " + status);
                        showLinks(selectedBar,eval(data));
                    }
                );
            }
        }

        function showLinks(selectedBar, data){            
            var links = document.getElementById('links');

            links.innerHTML = '<p/>';
            // links.innerHTML = 'Links for bar ' + selectedBar + '<br/>Data:' + data;

            var title = document.createElement('h5');
            title.innerHTML = 'Pages that got '+(selectedBar*10)+'-'+((selectedBar+1)*10)+'%' + ' of total links'
            links.appendChild(title);

            var table = document.createElement('table');
            table.setAttribute('class', 'table');

            // Header
            var header = document.createElement('tr')            
            var col = document.createElement('td')

            // No
            col.innerHTML = 'No'
            header.appendChild(col)            

            //URL
            var col = document.createElement('td')
            col.innerHTML = 'URL'
            header.appendChild(col)

            //Inbound links
            col = document.createElement('td')
            col.innerHTML = 'No Inbound links'
            header.appendChild(col)
            
            table.appendChild(header)

            // Rows
            for(var i=0;i<data.length; i++){                
                var line = data[i];
                var page = line.page
                var no = line.no
                var row = document.createElement('tr')

                var col_no = document.createElement('td')
                col_no.innerHTML = i+1;
                row.appendChild(col_no)

                //page
                var col = document.createElement('td')
                col.innerHTML = page['absolute_url']
                row.appendChild(col)

                //no inbound links
                var col = document.createElement('td')
                col.innerHTML = no
                row.appendChild(col)

                row.onclick = function(resource_id, url){
                    return function(){
                        show_sublinks(resource_id, url);
                    }
                }(page['id'], page['absolute_url']);

                table.appendChild(row)
            }

            links.appendChild(table)
        }

        function show_sublinks(resource_id, url){
            console.info("show_sublinks " + resource_id)
            
            var _url = "./report_inner_incomming_urls?resource_id=" + resource_id;                 
            $.get(_url,
                function(data, status){
                    // alert("Data: " + data + "\nStatus: " + status);
                    populate_sublinks(eval(data), url);
                }
            );
        }

        /**Populates sublinks section*/
        function populate_sublinks(data, url){
            var links = document.getElementById('sublinks');
            links.innerHTML = '<p/>';

            var title = document.createElement('h5');
            title.innerHTML = 'Pages that link to ' + url
            links.appendChild(title);

            // Table
            var table = document.createElement('table');
            table.setAttribute('class', 'table');

            // Header
            var header = document.createElement('tr')            
            var col = document.createElement('td')
            col.innerHTML = 'No'
            header.appendChild(col)

            var col = document.createElement('td')
            col.innerHTML = 'URL'
            header.appendChild(col)
            
            table.appendChild(header)

            // Rows
            for(var i=0;i<data.length; i++){                
                var line = data[i];
                var row = document.createElement('tr')

                var col_no = document.createElement('td')
                col_no.innerHTML = i+1;
                row.appendChild(col_no)

                var col = document.createElement('td')
                col.innerHTML = line['absolute_url']
                row.appendChild(col)

                table.appendChild(row)
            }

            links.appendChild(table)
        }


        function reset_links(){
            var links = document.getElementById('sublinks');
            links.innerHTML = '<p/>';

            reset_sublinks()
        }


        function reset_sublinks(){
            var links = document.getElementById('sublinks');
            links.innerHTML = '<p/>';
        }

    </script>
<!--    <div>-->
<!--        <button onclick="update_chart()">Update</button>-->
<!--    </div>-->

    <div class="row">
        <div class="col-6">
            <div id="links">
            </div>
        </div>
        <div class="col-6">
            <div id="sublinks">
            </div>
        </div>
    </div>
    

{% endblock %}