{% extends "base.html" %}
{% block content %}

<div class="w-50 mx-auto">
	<h4 class="text-center">Please login</h4>
	<br>
	<form action="" method="post" class="form ">
		<label for="email">Email</label>
		<br/>
		<input class="form-control" type="text" placeholder="Email" name="email" value="{{request.form.email }}" id="email">
		<br/>
		<label for="password">Password</label>
		<br/>
		<input class="form-control" type="password" placeholder="Password" name="password" value="{{request.form.password }}" id="password">
		<p/>
		<div class="text-center">
			<button class="btn btn-primary w-50" type="submit" value="submit">Login</button>
		</div>	
	</form>
</div>

{% endblock %}