<nav class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {%if page == 'home'%}nav-link-selected{%endif%}" href="./home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {%if page == 'crawl'%}nav-link-selected{%endif%}" href="./crawl">Crawls</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Internal linking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Content analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Meta analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Crawl budget</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Indexability</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">URL Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {%if page == 'status'%}nav-link-selected{%endif%}" href="./status">App status</a>
    </li>
</ul>