<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<script type="text/javascript" src="static/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="static/bootstrap.min.js" ></script>
  </head>
  <body>
    <div class="container">
		
		<!-- child template -->
		{% block content %}{% endblock%}
		
		<!-- errors -->
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
		
		<!-- messages -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
		
		<p/>
		<!-- Logout -->
		<p>
			<a href="/logout">Logout</a>
		</p>
    </div>
  </body>
</html>